services:
  # 1. SOVEREIGN SOURCE CONTROL (Forgejo Only)
  forgejo:
    image: codeberg.org/forgejo/forgejo
    container_name: forgejo
    environment:
      - USER_UID=${HOST_UID}
      - USER_GID=${HOST_GID}
    volumes:
      - /var/lib/forgejo:/data
      - /etc/forgejo:/data/gitea/conf
      - /etc/forgejo/ssh:/data/git/.ssh
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ tailscale_ip }}:3000:3000"
      - "{{ tailscale_ip }}:2222:22"
    restart: always
